/* ********** Custom Properties ********** */

:root {
  --first-color: #00914d;
  --first-alpha-color: rgba(0, 145, 77, 0.75);
  --second-color: rgb(20, 25, 45);
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #ffffff;
  --third-alpha-color: rgba(255, 255, 255, 0.75);

  --link-color: #00800d;
  --link-alpha-color: rgba(0, 128, 13, 0.75);

  --bg-color: rgb(235, 235, 235);
  --bg-alpha-color: rgba(235, 235, 235, 0.75);
}

/* ********** Reset Styles ********** */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-size: 3.8rem;
}

main {
  flex-grow: 1;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* ********** Bootstrap Styles ********** */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.form-inline {
  margin-left: 20px;
}

.navbar-brand {
  color: #00914d;
  display: inline-flex;
  font-weight: 600;
  font-size: 1.3rem;
}

.navbar-brand:hover {
  color: #00800d;
}

.nav-link {
  color: var(--second-color);
  font-size: 1rem;
  font-weight: 600;
}

.nav-link:hover {
  color: #00800d;
  text-decoration: underline;
  transition: all .3 ease-out;
}

/* ********** My Styles ********** */

.border-header {
  border-bottom: 1px solid #3e343475;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.bg-sv-color {
  background-color: #00914d;
}

.button-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-join {
  background-color: #00914d;
  color: #fff;
}

.btn-join:hover {
  background-color: var(--first-alpha-color);
  color: #fff;
  border: thin solid #00914d;
}

.card {
  width: 325px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -20px;
}

.card-content {
  padding: 16px;
}

.card-content a {
  margin-bottom: 2px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
}

.container-img {
  display: flex;
  justify-content: left;
}

.bg-players {
  background-color: #115632;
  padding: 1rem;
  box-shadow: -1px 15px 30px -12px rgba(32, 201, 29, 0.246);
  border-radius: 0.9rem;
  margin: 18px;
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    padding-top: 20px;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 13px;
  }
}

.news-title {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.color-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: #00914d;
  display: inline-flex;
  font-size: 3.5rem;
  margin-bottom: -100px;
}

.credits {
  margin-left: 7px;
}

.imagen {
  margin-left: 38px;
}

.img-player {
  max-width: 100%;
  height: 100%;
}

.link-right {
  justify-content: flex-end;
  margin-right: 53px;
}

.logo-footer {
  margin-bottom: 15px;
}

.pie-de-pagina {
  background-color: #00914d;
}

.slide-carousel {
  background-size: cover;
}

.read-more {
  margin-left: 14px;
  color: #000;
}

.read-more:hover {
  color: #190f0fc5;
}

.redes {
  display: inline-flex;
  width: 3vw;
  height: 3vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #000;
}

.menu ul {
  list-style-type: none;
}

.most-players {
  margin-top: 40px;
  margin-bottom: 16px;
  color: #000;
  color: #00914d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.most-players-2 {
  margin-top: 65px;
  margin-bottom: 22px;
  color: #00914d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.most-players-3 {
  /* margin-top: -180px; */
  margin-bottom: 16px;
  color: #000;
  color: #00914d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.most-player-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ms-lg-auto {
  font-family: "Ubuntu", sans-serif;
  display: inline-flex;
}

.text-carousel {
  margin-bottom: 130px;
  font-size: 19px;
  font-family: "Inter";
}

.title-carousel {
  margin-bottom: 10px;
  font-size: 35px;
  font-family: "Ubuntu";
}

.titulares {
  padding: 18px;
  color: #000;
}

.title-footer {
  padding-top: 20px;
  font-size: 1.8rem;
  font-weight: 300;
}

.title-footer-2 {
  padding-top: 20px;
  font-size: 1.8rem;
}

.title-cards-1 {
  display: flex;
  justify-content: space-evenly;
  font-family: "Ubuntu";
  color: #000;
}

.title-cards-2 {
  font-family: "Ubuntu";
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.title-cards-3 {
  margin-bottom: 10px;
  font-family: "Ubuntu";
  /* margin-left: 110px;
  margin-right: 110px; */
  display: flex;
}

.title-cards-5 {
  font-family: "Ubuntu";
  margin-bottom: -35px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
}

.partner-cards-1 {
  margin-top: 55px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  color: #000;
  color: #00914d;
}

.partner-cards-2 {
  font-family: "Ubuntu";
  margin: 0 64px;
  margin-bottom: -20px;
  display: flex;
  justify-content: start;
}

.partner-pointer {
  cursor: pointer;
}

.view-match {
  color: #00914d;
  text-decoration: none;
}

.view-match:hover {
  color: #00800d;
}

.wb-title {
  padding-left: 10px;
  padding-top: 3px;
}

.wb-title-2 {
  padding-top: 3px;
}

/* ==== ESQUEMA PARTIDOS ==== */

.width-match {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-match {
  margin-bottom: 0 !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80vw;
  /* Ajusta el tamaño del contenedor */
  max-width: 230px;
  /* Tamaño máximo */
  aspect-ratio: 1 / 1;
  /* Mantiene el contenedor cuadrado */
  /* Espacio entre los elementos */
  background-color: #fff;
  padding: 5px;
}

.mp-date {
  margin: 0 !important;
  padding: 0 !important;
}

.margin-date {
  text-align: center;
  font-size: 15px;
  margin: 0 !important;
}

.nombre-equipo-1,
.vs {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 40px;
}

.nombre-equipo-2 {
  margin-bottom: 40px;
}

.nombre-equipo-monch-2 {
  margin-bottom: 40px;
  max-width: 100%;
}

.overflow-monch {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bundesliga {
  max-width: 65px;
}

.element-match {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #e0e0e0;
  border: 2px solid #ccc; */
  font-size: 1.5rem;
  border-radius: 5px;
  overflow: hidden;
  /* Para que las imágenes no se salgan del contenedor */
}

.element-match img {
  max-width: 100%;
  max-height: 95%;
  /* object-fit: cover; */
}

.element-match p {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.8vh;
  color: #000;
}


/* ==== CAROUSEL WRAPPER ==== */

.carousel-item .card {
  margin: 10px 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.card-body {
  padding: 16px;
}

.card-body a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  height: 45px;
  font-size: 16px;
}

.card img {
  max-height: 100%;
}

.card .img-wrapper {
  max-width: 100%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-horizontal .carousel .carousel-control-prev,
.carousel-control-next {
  /* background-color: #e1e1e1; */
  background-color: #00914d;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}


.carousel-inner {
  padding: 1em;
}

.carousel-inner.no-padding {
  padding: 0 !important;
}



/*==== TIRA DE PRODUCTOS ====*/

.badge {
  color: #fff;
}

.badge-dark {
  background-color: #00914d;
}

.cover {
  height: 220px;
  color: white;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}

.card {
  margin-top: 10px;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card {
  width: 300px;
  height: auto;
  aspect-ratio: auto;
  position: relative;
}

.card .bg-players {
  max-height: 200px;
  overflow-y: auto;
}

.card .img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-title-2 {
  min-height: 3.2rem;
}

.card-title-1 {
  min-height: 3.2rem;
}

.card-title {
  min-height: auto;
}

.links-card {
  text-decoration: none;
}

.link-news {
  text-decoration: none;
  color: #00914d;
  font-family: "Ubuntu";
  font-size: 14px;
  margin-right: 12px;
}

.link-news:hover {
  color: #15c171;
}

.products-title {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.product-stripe,
.slider {
  overflow-x: scroll;
  padding-top: 1 rem;
  padding-bottom: 1 rem;
}

.stripe-container,
.slider-container {
  display: flex;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

h5 {
  font-weight: bold;
}

/* ==== CARRUSEL JUGADORES ==== */
.card-group .card {
  background-color: #115632;
  cursor: pointer;
}

.card-group .card .card-body {
  color: #fff;
}

.card-group .card .card-body .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.images-jugadores {
  object-fit: cover;
}

.most__players .container-fluid .row .card {
  background-color: #115632;
  color: #fff;
  cursor: pointer;
  box-shadow: -1px 15px 30px -12px rgba(32, 201, 29, 0.246);
  padding: 12px;
}

@keyframes automatico {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    padding: 0.5rem;
  }
}


/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 350px) {
  .title-footer {
    font-size: 26px;
  }

  .title-footer-2 {
    font-size: 26px;
  }

  .credits {
    font-size: 13px;
  }

  .title-page-on-mobile {
    font-size: 3.5em;
    /* Ajusta el tamaño según sea necesario */
  }

  .title-page-on-mobile .color-title {
    font-size: 0.9em;
    /* Ajusta el tamaño según sea necesario */
  }

}

@media (max-width: 576px) {

  .center-cards-sm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .view-match {
    margin-left: 40px;
  }

  .link-right {
    display: inline-block;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .center-cards-sm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .view-match {
    margin-left: 20px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slider-academy img {
    height: 700px;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }

  .slider-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 795px) {
  .ocultar-mobile {
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .center-cards-md {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}